<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lauren.simplenews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.daniel.JoyRent.main.widget.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.daniel.JoyRent.House.widget.HousesDetailActivity"
            android:label="HousesDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/bottombar_tabs" />

        <activity android:name="com.daniel.JoyRent.login.Login" />
        <activity android:name="com.daniel.JoyRent.login.Register" />
        <activity android:name="com.daniel.JoyRent.login.UserInfo" />
        <activity android:name="com.daniel.JoyRent.Image_UpLoad.TakePhoto" />
        <activity android:name="com.daniel.JoyRent.Rental.RentalHouses" />
        <activity android:name="com.daniel.JoyRent.Rental.FindMyMates" />
        <activity android:name="com.daniel.JoyRent.login.OldLogin"></activity>
    </application>

</manifest>